@import '../../styles/variables.scss';

.messageWrapper {
  padding: 10px 30px 30px;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__text {
    display: flex;
    width: 100%;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
