@import '../../styles/variables.scss';

.searchHoliday {

  &__image {
    position: absolute;
    z-index: -2;
    top: -1px;
    right: 0;
  }

  &__backgroundImage {
    position: absolute;
    z-index: -1;
    top: 350px;
  }

  &__holidays {
    margin: 0 auto;
    padding: 170px 40px 0 40px;
    max-width: 1320px;
  }

  &__title {
    width: 700px;
    font-size: 63px;
    font-weight: bold;
    line-height: 65px;
  }

  &__description {
    margin-top: 27px;
    width: 700px;
    font-size: 20px;
    line-height: 28px;
  }

  &__controls {
    margin-top: 38px;
    display: flex;
  }

  &__search {
    margin-right: 18px;
    width: 280px;
    background-color: white;
  }

  &__button {
    width: 258px;
  }
}
