{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-optional-chaining",
    [
      "styled-components",
      { "ssr": false, "displayName": false, "preprocess": false }
    ]
  ]
}
