@import '../../styles/variables.scss';

.search {
  width: 278px;

  &__input {
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 22px;
    padding-bottom: 14px;
  }

  &__icon {
    margin-right: 17px;
    margin-left: 10px;
    width: 25px;
    height: 20px;
    color: $c-ceruleanBlue;
  }
}
