.formField {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__caption {
    padding-right: 10px;
    flex-shrink: 0;
    width: 115px;
    font-size: 16px;
    line-height: normal;
    word-break: break-all;
  }

  &__container {
    flex-grow: 1;
  }

  &_theme_long &__caption {
    width: 210px;
  }

  &_theme_short {
    margin-bottom: 10px;
  }

  &_theme_shortTextarea {
    margin-bottom: 10px;
    align-items: flex-start;
  }

  &_theme_shortTextarea &__caption {
    padding-top: 14px;
  }

  &_theme_topLabel {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  &_theme_topLabel &__caption {
    padding-bottom: 15px;
    width: 100%;
  }

  &_theme_topLabel &__container {
    width: 100%;
  }
}
