@import '../../../../styles/variables.scss';

.container {
  display: flex;

  &__back {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }

  &__next {
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }

  &__today {
    width: 170px;
    height: 41px;
  }

  &__title {
    padding-left: 100px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
  }

  &__addEvent {
    margin-right: 15px;
    width: 320px;
    height: 41px;
  }

  &__displayType {
    width: 280px;
    height: 41px;
  }
}
