/*
* Color name get from:
* https://www.color-blindness.com/color-name-hue/
*/

$sourceSansPro: 'Source Sans Pro', sans-serif;

$c-white: #fff;
$c-black: #000;
$c-haiti: #252027;
$c-lightGray: #d6d6d6;
$c-hue: #d8d8d8;
$c-gainsboro: #d9d9d9;
$c-amaranth: #e61a50;
$c-torchRed: #ff1352;
$c-palePink: #fad1dc;
$c-pigmentGreen: #009c49;
$c-mintTulip: #cbebda;
$c-lavender: #edf4fc;
$c-denim: #0c57ad;
$c-royalBlue: #2479da;
$c-ceruleanBlue: #2468b6;
$c-egyptianBlue: #0f4c92;
$c-darkCerulean: #0b3f7b;
$c-kournikova: #f7c34b;
$c-linkWater: #d6d8dc;
$c-quartz: #f5f8fc;
$c-darkGray: #b3b3b3;
$c-gray: #808080;
$c-solitude: #e0e7ef;
$c-veryLightGrey: #cccccc;
