@import '../../styles/variables.scss';

.fileLoading {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: $c-quartz;
  border: $c-linkWater dashed 2px;
  border-radius: 4px;

  &__button {
    margin-top: 20px;
  }

  &__fileInput {
    position: absolute;
    left: -999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
