@import '../../styles/variables.scss';

.link {
  padding: 0;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;

  &_size_extraSmall {
    font-size: 14px;
    line-height: 20px;
  }

  &_size_small {
    font-size: 16px;
    line-height: 20px;
  }

  &_size_normal {
    font-size: 18px;
  }

  &_size_large {
    font-size: 20px;
  }

  &_color_gray {
    color: rgba($c-black, 0.5);

    &:hover {
      color: $c-royalBlue;
    }
  }

  &_color_grayDark {
    color: rgba($c-black, 0.5);

    &:hover {
      color: rgba($c-black, 1);
    }
  }

  &_color_red {
    color: $c-amaranth;

    &:hover {
      color: $c-black;
    }
  }

  &_color_blueLight {
    color: $c-egyptianBlue;

    &:hover {
      color: $c-royalBlue;
    }
  }

  &_color_blueDark {
    color: $c-egyptianBlue;

    &:hover {
      //color: $c-black;
    }
  }

  &_color_blue {
    color: $c-ceruleanBlue;

    &:hover {
      color: $c-royalBlue;
    }
  }

  &__inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    transition: color 0.3s ease-out;

    &_dashed {
      background-repeat: repeat-x;
      background-position: 0 100%;
      background-size: 7px 1px;
    }
  }

  &__iconRight,
  &__iconLeft {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }

  &__iconRight {
    margin-left: 9px;
  }

  &__iconLeft {
    margin-right: 9px;
  }

  &__counter {
    margin-top: 3px;
    margin-left: 12px;
  }

  &__counterInner {
    position: static;
  }

  &_color_gray &__inner_dashed {
    background-image: linear-gradient(
      to right,
      rgba($c-black, 0.5),
      rgba($c-black, 0.5) 60%,
      transparent 60%
    );
  }

  &_color_grayDark &__inner_dashed {
    background-image: linear-gradient(
      to right,
      rgba($c-black, 0.5),
      rgba($c-black, 0.5) 60%,
      transparent 60%
    );
  }

  &_color_blue &__inner_dashed {
    background-image: linear-gradient(
      to right,
      $c-ceruleanBlue,
      $c-ceruleanBlue 60%,
      transparent 60%
    );
  }

  &_color_blueLight &__inner_dashed {
    background-image: linear-gradient(
      to right,
      $c-egyptianBlue,
      $c-egyptianBlue 60%,
      transparent 60%
    );
  }

  &_color_blueDark &__inner_dashed {
    background-image: linear-gradient(
      to right,
      $c-egyptianBlue,
      $c-egyptianBlue 60%,
      transparent 60%
    );
  }

  &_color_gray:hover &__inner_dashed {
    background-image: linear-gradient(to right, $c-royalBlue, $c-royalBlue 60%, transparent 60%);
  }

  &_color_grayDark:hover &__inner_dashed {
    background-image: linear-gradient(to right, $c-black, $c-black 60%, transparent 60%);
  }

  &_color_blueLight:hover &__inner_dashed {
    background-image: linear-gradient(to right, $c-royalBlue, $c-royalBlue 60%, transparent 60%);
  }

  &_color_blue:hover &__inner_dashed {
    background-image: linear-gradient(to right, $c-royalBlue, $c-royalBlue 60%, transparent 60%);
  }

  &_color_blueDark:hover &__inner_dashed {
    background-image: linear-gradient(to right, $c-black, $c-black 60%, transparent 60%);
  }
}
