@import '../../styles/variables.scss';

.orderStatus {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__circle {
    flex-shrink: 0;
    margin-top: 1px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    color: $c-white;
    border-radius: 50%;
  }

  &_status_prepaymentMade {
    color: $c-pigmentGreen;
  }

  &_status_prepaymentMade &__circle {
    color: $c-white;
    background-color: $c-pigmentGreen;
  }

  &_status_canceled,
  &_status_expectationError {
    color: $c-amaranth;
  }

  &_status_canceled &__circle,
  &_status_expectationError &__circle {
    color: $c-white;
    background-color: $c-amaranth;
  }

  &_status_done {
    color: rgba($c-black, 0.7);
  }

  &_status_done &__circle {
    color: $c-white;
    background-color: rgba($c-black, 0.7);
  }

  &_status_expectation {
    color: rgba($c-black, 0.7);
  }

  &_status_expectation &__circle {
    color: $c-white;
    background-color: #7e7e7e;
  }
}
