@import '../../styles/variables.scss';

.labelCheckbox {
  padding: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $c-black;
  background: $c-white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 16px rgba(220, 220, 220, 0.5);
  transition: color 0.3s ease-out;

  &:hover {
    color: $c-amaranth;
  }

  &_checked {
    color: $c-amaranth;
  }

  &__checkbox {
    position: absolute;
    top: calc(50% - 6.5px);
    right: calc(100% + 5px);
    width: 15px;
    height: 8px;
    color: $c-amaranth;
  }

  &__title {
    position: relative;
    max-width: 95%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    word-wrap: break-word;
    color: inherit;
  }
}
