@import '../../styles/variables.scss';

.contentWrapper {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    font-size: 22px;
    font-weight: 700;
    color: $c-black;
  }

  &__subtitle {
    margin-left: 11px;
    font-size: 18px;
    font-weight: 400;
    color: $c-black;
    opacity: 0.5;
  }

  &__search {
    min-width: 288px;
  }

  &__icon {
    margin-top: 6px;
    margin-right: 3px;
    display: block;
    width: 20px;
    color: rgba($c-black, 0.34);
  }
}
