@import '../../styles/variables.scss';

$c-lavender2: #d7e5f5;

.label {
  position: relative;
  z-index: 2;
  padding-right: 16px;
  padding-left: 16px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  font-size: 16px;
  color: $c-black;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: '';
    background-color: $c-white;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba($c-black, 0.2);
    transition: right 0.3s ease-out;
  }

  &_theme {

    &_lightBlue {
      padding-right: 10px;
      padding-left: 13px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      color: $c-egyptianBlue;

      &::before {
        background-color: $c-lavender;
      }

      &:hover {

        &::before {
          background-color: $c-lavender2;
        }
      }
    }

    &_blue {
      color: $c-white;

      &::before {
        background-color: $c-ceruleanBlue;
      }

      &:hover {

        &::before {
          background-color: $c-royalBlue;
        }
      }
    }

    &_green {
      color: $c-white;

      &::before {
        background-color: $c-pigmentGreen;
      }

      &:hover {

        &::before {
          background-color: $c-pigmentGreen;
        }
      }
    }

    &_red {
      height: 40px;
      color: $c-white;

      &::before {
        background-color: $c-amaranth;
      }

      &:hover {

        &::before {
          background-color: $c-torchRed;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 50%;
    right: -9px;
    padding: 0;
    visibility: hidden;
    width: 12px;
    height: 12px;
    color: $c-amaranth;
    background: none;
    border: none;
    opacity: 0;
    transition: opacity 0.4s ease-out 0.25s, color 0.3s ease-out;
    transform: translateY(-50%);

    &:hover {
      color: $c-black;
    }

    &_showClose {
      visibility: visible;
      opacity: 1;
    }
  }

  &_showClose &__close {
    position: static;
    margin-left: 20px;
    display: block;
    transform: translateY(0);
  }

  &_theme_red#{&}_showClose &__close {
    margin-left: 14px;
  }

  &_theme_blue#{&}_showClose &__close {
    margin-left: 15px;
  }

  &_theme_blue#{&}_showClose {
    padding-right: 11px;
    padding-left: 17px;
  }

  &__icon {
    position: relative;
    top: 0;
    left: 0;
    width: 9px;
  }

  &_theme_lightBlue &__close {
    color: inherit;
  }

  &_theme_blue &__close {
    color: inherit;
  }

  &_theme_red &__close {
    color: inherit;
  }

  &_theme_green &__close {
    color: inherit;
  }

  &_theme_default &__icon {
    width: 12px;
  }

  &:hover {
    z-index: 3;
  }

  &_isRemovable:hover::before {
    right: -21px;
  }

  &_showClose:hover::before {
    right: 0;
  }

  &:hover &__close {
    visibility: visible;
    opacity: 1;
  }
}
