@import '../../styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &__divider {
    width: 460px;
    height: 2px;
    background-color: $c-egyptianBlue;
  }

  &__title {
    margin-right: 65px;
    margin-left: 65px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: $c-egyptianBlue;
  }
}
