@import '../../styles/variables.scss';

.Snackbar {
  z-index: 1000;
  left: 0;
  bottom: 10%;
  display: flex;
  visibility: visible;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  opacity: 1;
  transition: opacity .3s, visibility .3s;

  &_position_fixed {
    position: fixed;
  }

  &_position_absolute {
    position: absolute;
  }

  &_position_relative {
    position: relative;
  }

  &__content {
    padding: 5px 25px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 900px;
    color: $c-white;
    border-radius: 6px;

    &_theme_success {
      background-color: $c-pigmentGreen;
    }

    &_theme_error {
      background-color: $c-amaranth;
    }

    &_theme_notification {
      background-color: $c-royalBlue;
    }
  }

  &__btn-close {
    color: $c-white;
  }

  &__message-content {
    margin-right: 20px;
  }

  &__message-key {
    padding-right: 10px;
    font-weight: 700;
  }

  &__hidden {
    visibility: hidden;
    opacity: 0;
  }
}
