@import '../../styles/variables.scss';

.coverUpload {
  padding-top: 7px;
  padding-bottom: 47px;

  &__description {
    margin-bottom: 22px;
    padding-top: 4px;
    font-size: 16px;
    color: $c-black;
  }

  &__fileInput {
    position: absolute;
    left: -999px;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__container {
    position: relative;
    margin-bottom: 9px;
    overflow: hidden;
    max-height: 413px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__buttons {
    position: absolute;
    left: 0;
    bottom: 34px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__button {
    margin-right: 5px;
    margin-left: 5px;
  }
}
