@import '../../styles/variables.scss';

.switcher {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__input {
    position: absolute;
    z-index: -1;
    left: -999px;
    opacity: 0;
  }

  &__space {
    width: 52px;
    height: 30px;
    flex-grow: 1;
    background-color: rgba(39, 48, 59, 0.2);
    border-radius: 25px;
  }

  &__check {
    display: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  &__close {
    visibility: visible;
    width: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }

  &__point {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 22px;
    height: 22px;
    color: $c-black;
    background-color: $c-white;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba($c-black, 0.1);
    transition: transform 0.3s ease-out;
    transform: translate(4px, 4px);
  }

  &:hover &__space {
    background-color: $c-amaranth;
  }

  &:hover &__space > &__point {
    color: $c-amaranth;
    transform: translate(24px, 4px);
  }

  &:hover &__close {
    visibility: hidden;
    opacity: 0;
  }

  &__text {
    margin-left: 14px;
    font-size: 16px;
    color: $c-black;
  }

  &__input:checked ~ &__space {
    background-color: $c-amaranth;
  }

  &__input:checked ~ &__space > &__point {
    color: $c-amaranth;
    transform: translate(24px, 4px);
  }

  &__input:checked ~ &__space &__check {
    display: block;
    width: 10px;
  }

  &__input:checked ~ &__space &__close {
    display: none;
  }
}
